@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#7db1c7;
    --black:#444;
    --light-color:#111;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid #7db1c7;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s ease-out;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
section{
    padding:5rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.appointment{

    background: #ffffff;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:#7db1c7;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: #c0392b;
}

.btn{
    display: inline-block;
    padding: .9rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:#7db1c7;
    cursor: pointer;
    font-size: 1.9rem;
    background: #fff;
}
section:nth-child(even){
    background: #f5f5f5;
}
.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: #7db1c7;
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: #7db1c7;
    color:#fff;
}

.btn:hover span{
    color: #7db1c7;
    background:#fff;
    margin-left: 1rem;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;

}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:#7db1c7;
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}

.services .box-container .box i{
    color: #7db1c7;
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.blogs .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.blogs .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    border-radius: .5rem;
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img{
    transform:scale(1.2);
}

.blogs .box-container .box .content{
    padding-top: 1rem;
}

.blogs .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover{
    color:#7db1c7;
}

.blogs .box-container .box .content .icon a i{
    padding-right: .5rem;
    color: #7db1c7;
}

.blogs .box-container .box .content h3{
    color:var(--black);
    font-size: 3rem;
}

.blogs .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}
.appointment .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.appointment .row .image{
    flex:1 1 45rem;
}

.appointment .row .image img{
    width: 100%;
}

.appointment .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}
.appointment .row form .message{
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    font-size: 1.7rem;
    text-align: center;

}
.appointment .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.appointment .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.appointment .row form .btn{
    padding:1rem 4rem;
}

.health_section .health_carousel-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .health_section a {
    display: inline-block;
    padding: 10px 97px;
    background-color: #fff;
    border: 1px solid #7db1c7;
    color: #7db1c7;
    margin-top: 30px;
  }
  
  .health_section a:hover {
    background-color: #7db1c7;
    color: #2c2c2c;
  }
  
  .health_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    height: 360px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid #e9ecef;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .health_section .box .img-box img {
    width: 100%;
  }
  
  .health_section .box .btn_container {
    width: 100%;
  }
  
  .health_section .box .btn_container a {
    display: inline-block;
    background-color: #7db1c7;
    border: 0.5px solid #ffffff;
    color: #fff;
    margin: -3.5px 0 0 0.5px;
  }
  
  .health_section .box .btn_container a:hover {
    background-color: transparent;
    color: #2c2c2c;
  }
  
  .health_section .box .btn_container a:hover {
    background-color: #87cefa;
    color: #ffffff;
    border-color: transparent;
  }
  
  .health_section .box .detail-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  
  .health_section .box .detail-box .star_container {
    color: #f5c608;
  }
  
  .health_section .box .detail-box .text {
   
    
    display: flex;
  }
  
  
  .health_section .box .detail-box .text h6.price {

    margin-left: 5px;
  }
  
  .health_section .box .detail-box .text h6.price span {
    color: #87cefa;
  }
  
  .health_section .owl-carousel .owl-nav.disabled {
    display: block;
  }
  
  .health_section .owl-carousel .owl-nav.disabled > div {
    position: absolute;
    top: -65px;
    background-color: #7db1c7;
    width: 50px;
    height: 50px;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .health_section .owl-carousel .owl-nav.disabled > div:hover {
    background-color: #87cefa;
  }
  
  .health_section .owl-carousel .owl-nav.disabled .owl-prev {
    background-image: url(../images/prev.png);
    right: 95px;
  }
  
  .health_section .owl-carousel .owl-nav.disabled .owl-next {
    background-image: url(../images/next.png);
    right: 35px;
  }
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h4{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:#7db1c7;
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:#7db1c7;
}

.section-padding .row form .box{
    width: 85%;
    margin:.8rem ;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}


/* Start Show Medicine  */
    .c_boxes {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 50px 20px ;
        margin: 50px;
    }
    .c_boxes .c_box {
        padding: 10px;
        border: var(--border);
        box-shadow: var(--box-shadow);
        width: 31%;
        height: fit-content;
    }

    @media (max-width: 991px) {
        .c_boxes .c_box {
            width: 45%;
        }
    }
    @media (max-width: 767px) {
        .c_boxes .c_box {
            width: 100%;
        }
    }
    .c_boxes .c_box img {
        max-width: 100%;
        height: 250px;
        display: inline-block;
        border-radius: 1vmax;
        margin-bottom: 20px;
    }
    
    .c_boxes .c_box .content {
        display: flex ;
        flex-direction: column;
        text-align:left;
        gap: 10px;
        color: #2c2c2c;
        padding: 5px 20px;
        font-size: 14px ;
    }
    .c_boxes .c_box i {
        color: #7db1c7;
        padding-right: 4px;
    }
    span.name {
        display: block;
        font-size: 14px;
        padding: 5px 20px;

    }
    
/* End Show Medicine  */

/* Start History  */
.main-table {
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.main-table td , 
.main-table th {
    padding: 10px;
}
.myBtn {
    padding: 4px 15px;
    background-color: rgb(227, 48, 48);
    border-radius: 1vmax;
    color: #fff;
}

.myform label ,
.myform .form-control {
    font-size: 14px;
    padding: 10px;
}
.myform .myBtn {
    font-size: 14px;

}



/* End History  */

